$black: #302D40;
$darkGrey: #373737;
$middleGrey: #CBCACA;
$liteGrey: #e4e4e4;
$white: #F3F2F2;
$liteGreen: #d0dacf;
$green: #81977d;
$roll-button: #8B85AE;
$roll-button-disabled: #92929b;

$pressed: #976d2d;


$dice-brown: #7C6D62;
$stroke-brown: #504741;
$dice-violet: #816987;
$stroke-violet: #493b4d;
$dice-red: #874142;
$stroke-red: #572e2e;
$dice-green: #A0BA93;
$stroke-green: #53634b;
$dice-blue: #8FB9D6;
$stroke-blue: #678092;
$dice-yellow: #E3C676;
$stroke-yellow: #9e843e;
$dice-grey: #4b4645;
$stroke-grey: #383534;

$status-success: #8eb385;
$status-advant: #e0e7a2;
$status-neutral: #c0bdad;
$status-trouble: #d3bba0;
$status-failure: #cc9a9a;

.status--success {
   background-color: $status-success;
}

.status--advant {
   background-color: $status-advant;
}

.status--neutral {
   background-color: $status-neutral;
}

.status--trouble {
   background-color: $status-trouble;
}

.status--failure {
   background-color: $status-failure;
}

.dice--white {
   fill: rgb(243, 229, 208);
   stroke: $stroke-grey
}

.dice--green {
   fill: $dice-green;
   stroke: $stroke-green
}

.dice--blue {
   fill: $dice-blue;
   stroke: $stroke-blue
}

.dice--yellow {
   fill: $dice-yellow;
   stroke: $stroke-yellow
}

.dice--brown {
   fill: $dice-brown;
   stroke: $stroke-brown
}

.dice--violet {
   fill: $dice-violet;
   stroke: $stroke-violet
}

.dice--red {
   fill: $dice-red;
   stroke: $stroke-red
}

.dice--grey {
   background-color: $dice-grey;
   border: 1px solid $stroke-grey;
   color: $white;
}