@use '../../variables/colors.scss' as *;


.big-button {
   flex: 1 1 auto;
   height: 100%;
   background-color: $roll-button;
   color: $white;
   padding: 15px;
   text-transform: uppercase;
   position: relative;
   z-index: 1;


   @media (max-height: 445px) {
      padding: 5px;
      font-size: 0.8rem;
   }
}

.big-button--roll {
   background-color: $roll-button;

}

.big-button--settings {
   background-color: $green;

}

.big-button--disabled {
   background-color: $roll-button-disabled ;
   color: rgb(209, 209, 209);
   cursor: default;
   // box-shadow: rgba(41, 41, 41, 0.25) 0px 10px 10px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}