.modal {
   display: flex;
   flex-direction: column;
   color: white;
   position: absolute;
   top: 20%;
   left: 70%;

   min-width: fit-content;
   min-height: 50px;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.8);
   backdrop-filter: blur(4px);
   padding: 10px;
   z-index: 50;

   &__item {
      cursor: pointer;
   }

   &__item:hover,
   &__item:focus {
      background-color: rgba($color: #fff, $alpha: 0.3);
   }

   @media (max-width: 768px) {
      left: auto;
      right: 80%;

   }

}

.modal--closed {
   display: none;
}