@use '../../../variables/colors.scss' as *;


.settings {
   display: flex;

   flex-direction: column;
   min-width: 50%;
   color: $black;
   text-align: center;
   background-color: $liteGreen;
   border-right: 1px solid $black;

   h4 {
      color: $white;
      display: block;
      margin: 0;
      padding: 10px 5px;
      background-color: $green;
      font-size: 1.1rem;
      font-weight: 300;
      text-transform: uppercase;
   }



   &__values {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;


   }

   &__button {
      display: none;

   }
}

@media (max-width: 768px) {
   .settings {

      h4 {
         display: none;
      }

      &__button {
         display: block;
      }

      &__values {
         display: none;
      }
   }
}