.log__item {
   display: flex;

   position: relative;
   gap: 5px;
   align-items: center;
   flex-wrap: wrap;
   padding: 5px 0;
   border-bottom: 1px dashed #919191;

   z-index: 5;

   img {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 1rem;

   }

   .log__block {
      display: flex;
      flex-direction: row;
      gap: 5px;
      flex-wrap: wrap;

   }

   &:last-child {
      border-bottom: 2px solid #646464;
   }
}

.log__dice {
   border-radius: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;

}