.dice {
   position: relative;
   background: none;
   width: auto;
   height: min-content;


   img,
   .dice__number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}


.little-dice {
   width: 30px;
   height: 30px;



   @media (max-width: 768px) {
      width: 20px;
      height: 20px;
   }
}



.big-dice {
   width: 80px;
   height: 80px;

   position: relative;

   @media (max-width: 768px) {
      width: 60px;
      height: 60px;
   }

   &--empty {
      img {
         display: none;
      }
   }

   .dice__number {
      font-size: 2rem;
   }


   &--animated {
      animation: rolling 0.5s infinite;

      img,
      .dice__number {
         display: none
      }
   }
}

@keyframes rolling {

   0% {
      transform: translate(0, 0) rotateZ(0);
   }

   15% {
      transform: translate(0, -5px) rotateZ(60deg);
   }

   30% {
      transform: translate(-3px, -3px) rotateZ(120deg);
   }

   50% {
      transform: translate(-7px, 0) rotateZ(180deg);
   }

   65% {
      transform: translate(0px, 5px) rotateZ(240deg);
   }

   80% {
      transform: translate(3px, 3px) rotateZ(300deg);
   }

   100% {
      transform: translate(0, 0) rotateZ(360deg);
   }
}