.little-dice {
   width: 25px;
   height: 25px;
   background-color: brown;
   border-radius: 15%;

   @media (max-width: 768px) {
      width: 20px;
      height: 20px;
   }
}


.dice--d4 {
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}